/* main styles */
html {
	height: 100%;
}

body {
	height: 100%;
	margin:0;
	padding:0;
	background:#BBD9EE;
  	color:#000000;
	font-family:tahoma,arial,sans-serif;
	font-size:11px;
	}

form {
	margin:0;
	padding:0
	}
img {border:none;}
a {color:#060606;text-decoration: none}
a:hover {text-decoration: underline}
input {vertical-align:middle}
.floatleft {float:left !important}
.floatright {float:right !important}
.clear {clear:both !important}
.bold {font-weight:bold !important}
.normal {font-weight:normal !important}
.block {display:block !important}
input.text,
select,
textarea {
	font-family:arial,sans-serif;
	color:#030303;
	font-size:12px;
	vertical-align:middle;
	}
input.text {
	padding:1px 0 0 4px;
	height:14px;
	font-weight:normal;
	}
/* main container */
#main {
	width:100%;
	height: 100%;
	margin:0 auto;
	position: relative;
	overflow:hidden;
	}
/* header */
#header {
	position:relative;
	width:992px;
	height:56px;
	}
#header *{
	box-sizing: content-box;
}
	
/* site logo */
a.logo {
	position:absolute;
	top:5px;
	left:20px;
	}
	

/* middle */
#middle {
	width:100%;
	height: 100%;
	background: transparent;
	border: 0px solid #ff6f00;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: 3px 3px 9px #060606;
	-webkit-box-shadow: 3px 3px 9px #060606;
	box-shadow: 3px 3px 9px #060606;
	padding:0px 0 0 0;
	}
/* left column */
#leftcolumn {
	position: absolute;
	left: 0px;
	padding:1px 14px 0 12px;
	width:151px;
	}
/* right column */
#rightcolumn {
	position: absolute;
	right: 0px;
	padding:0 9px 0 0;
	width:133px;
	}
/* center column */
#centercolumn {
	position: absolute;
	left: 151px;
	right: 0px;
	min-height: 100%;
	overflow: hidden;
	padding:0px 0px 0 0px;
	background-color: white;
	max-height: 100%;
	}
* html #centercolumn {height:584px;}

/* footer */
#footer {
	width:100%;
	height:15px;
	position: absolute;
	bottom: 10px;
	left: 0px;
	}
#footer p {
	margin: 10px;
	}
	
/* left column styles */
#leftcolumn a {color:#3E3E3E;}
#leftcolumn h3 {
	font-size:11px;
	margin:0;
	color:#ffffff;
	background:#ff9500;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(155,155,155)),
		color-stop(1, rgb(155,155,155))
	);
	background:-moz-linear-gradient(
		center top,
		rgb(255,149,0) 0%,
		rgb(255,111,0) 100%
	);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	height:25px;
	line-height:23px;
	padding:0 0 0 9px;
	}
.left-column ul.nav {
	margin:0 0 11px 0;
	border-bottom:1px solid #737373;
	background:#ECEFE7;
	list-style:none;
	padding:0 2px;
	}
.left-column ul.nav li {
	padding:4px 4px 6px 5px;
	border-bottom: 1px #060606 dashed;
	}
.left-column ul.nav a {
	padding:0 0 0 12px;
	background:url("../img/arrow.gif") no-repeat 0 4px;
	}
.left-column ul.nav a:hover {
	font-weight:bold;
	}
.left-column ul.nav li:last-child {border:none;}

#leftcolumn a.link {
	display:block;
	width:142px;
	height:25px;
	background:#c7cdbe;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(235,239,227)),
		color-stop(1, rgb(199,205,190))
	);
	background:-moz-linear-gradient(
		center top,
		rgb(235,239,227) 0%,
		rgb(199,205,190) 100%
	);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin:0 0 4px 0;
	font-weight:bold;
	padding:0 0 0 9px;
	line-height:25px;
	color:#60635A;
	}
	
/* center column styles */
.top-bar {
	border-left:2px solid #0f0700;
	padding:0 0 0 9px;
	margin:0 0 4px 0;
	}
/* text page header */
.top-bar h1 {
	font:20px/21px verdana,sans-serif;
	color:#43729F;
	margin:0 0 4px 0;
	}
/* orange button */
.top-bar a.button {
	float:right;
	display:block;
	height:15px;
	text-align:center;
	color:#ffffff;
	text-transform:uppercase;
	font-weight:bold;
	padding:10px;
	background: #ff6f00;
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.2, rgb(155,155,155)),
			color-stop(0.8, rgb(155,155,155))
		);
	background:	-moz-linear-gradient(
			center top,
			rgb(255,154,76) 20%,
			rgb(240,96,0) 80%
		);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	}

/* bar with select */
.select-bar {
	clear:both;
	border-top:2px solid #0f0700;
	border-bottom:2px solid #0f0700;
	padding:5px 0 3px 0;
	margin:0 0 17px 0;
	}
.select-bar select {width:145px;margin:0 2px;}

/* table container */
div.table {
	position:relative;
	margin:0 0 37px 0;
	padding-right: 25px;
	overflow-x: auto;
	overflow-y: auto;
	max-width: 90%;
	max-height: 500px;
	}
table.listing {
	border-bottom:1px solid #9097A9;
	background:#9097A9;
	width:613px;
	padding:0;
	margin:0;
	border:1px solid #9097A9;

	border-collapse: separate;
	
	}
table.listing th {
	border-top:0 !important;
	}

table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}
/* table styles */
table.listing td,
table.listing th {
	border:1px solid #ffffff;
	text-align:center;
	}	
table.listing th {
	/*background:#9097A9;*/
	color:#ffffff;
	padding:5px;
	}
table.listing td {
	background:#D8D8D8;
	color:#000000;
	padding:3px 5px;
	max-width:100px;
	word-wrap: break-word;
	}
table.listing tr:nth-child(odd) td {
	background:#ECECEC;
	}
table.listing .white td {
	background:#ffffff;
	}	
table.listing th:first-child, table.listing td:first-child {border-left:0px solid #9097A9;text-align:left;}
table.listing th:last-child, table.listing td:last-child {border-right:0px solid #9097A9;}

table.listing th:first-child {
	width: 17px;
	border-left:0;
	}

table.listing .style1 {font-weight:bold;color:#FF7A00;}
table.listing .style2 {font-weight:bold;padding-left:16px;}
table.listing .style3 {padding-left:25px;}
table.listing .style4 {padding-left:35px;}
table.form td:last-child {padding:1px 0 1px 5px;text-align:left;}
table.form th,
table.form td {padding-left:10px;}
table.form input.text {width:262px}

/* table select */
div.table .select {
	float:right;
	margin:2px 1px 0 0;
	width:13px;
	height:13px;
	background:#9097A9;
	color:#ffffff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	}
div.table .select strong {
	float:left;
	padding:5px 0 0 5px;
	}	
div.table .select select {
	float:right;
	width:78px;
	margin:2px 3px 0 0;
	text-align:right;	
	}
	
/* right column header */
#rightcolumn .h {
	float:left;
	background:#7E878A;
	border:1px solid #B8B8B8;
	border-bottom:0;
	padding:3px 10px;
	color:#ffffff;
	text-transform:uppercase;
	}
/* right column box */
#rightcolumn .box {
	float:left;
	width:121px;
	padding:5px;
	border:1px solid #B8B8B8;
	background:#EBEBEB;
	margin:0 0 15px 0;
	}
	
/* right column buttons */
.buttons {
	clear:both;
	text-align:center;
	padding:30px 0 15px 0;
	}
.buttons input {margin:0 0 6px 0;}

input[type="checkbox"].run {
    display:none;
}

input[type="checkbox"].run + label {
    background-size: 13px 13px;
    height:17px;
    padding-left: 18px;
}

input[type="checkbox"].run:checked + label{
    background:url('../img/stop.png') no-repeat;
    height:18px;
}

div[name="status"] {
	display: inline-block;
}

div[name="status"].start {
    background-size: 13px 13px;
    height:17px;
    padding-left: 18px;
}

div[name="status"].running {
    background:url('../img/running.png') no-repeat center;
    background-size: 13px 13px;
    height:17px;
    padding-left: 18px;
}

div[name="status"].failed {
    background:url('../img/failed.png') no-repeat center;
    background-size: 13px 13px;
    height:17px;
    padding-left: 18px;
}

div[name="status"].passed {
    background:url('../img/passed.png') no-repeat center;
    background-size: 13px 13px;
    height:17px;
    padding-left: 18px;
}

.id {
	font-weight: bold;
	height:17px;
	vertical-align: text-top;
}
.id:hover {
	cursor:pointer;
}

th.separater {
	width: 17px;
	padding: 0 !important;
}

th.separater>div.collapse {
    background:url('../img/toggle-collapse.png') no-repeat center;
    background-size: 13px 13px;
    height:17px;
    width:17px;
    display:block !important;
}

th.separater>div.expand {
    background:url('../img/toggle-expand.png') no-repeat center;
    background-size: 13px 13px;
    height:17px;
    width:17px;
    display:block !important;
}

div.modal-dialog{
  background: #fefefe;
  border: gray solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed; 
  left: 20%; 
/*  top: -100%;  */
  z-index: 11; 
  width: 80%;
}

.glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
/* color: white; */    
}

.param span.remove-param:hover {
	cursor: pointer !important;
}

.new span.remove-param {
	display: none;
}

.param.unsaved>input {
	border-bottom-color: red !important;
}

.param.inherited>input {
	color: gray !important;
}

.remove {
	width: 12px;
	height: 12px;
	line-height:12px;	/*position text in the middle vertically */
	margin-top: 0px;
	position: absolute;
	right: 0px;
	font-size: 8px !important;
	color:white;
	border-radius: 6px;
	background-color: gray;
	text-align: center;
	vertical-align: middle;
}

.dropzone {
	border: 2px dashed rgba(0, 0, 0, 0.3);
}


.planName {
	position: relative;
}

#caseReport {
	word-break: break-all;
}

.label {
	color: black;
	font-size: 12px;
	font-weight:bold !important;
	vertical-align: top;
	min-width: 90px;
	text-align: left;
	display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}
.dropdown {
	display: inline-block;
}

select.name, input.name, input.value
{
    color: #333333 !important;
    background-color: transparent;
    padding: 5px !important;
    border: none !important;
    box-shadow: none !important;
    border-bottom: solid thin #CCCCCC !important;
    border-radius: 0 !important;
    outline: none !important;
    margin-right: 10px !important;
    min-width: 224px !important;
}

input.short-text 
{
    color: #333333 !important;
    background-color: transparent;
    padding: 5px !important;
    border: none !important;
    box-shadow: none !important;
    border-bottom: solid thin #CCCCCC !important;
    border-radius: 0 !important;
    outline: none !important;
    margin-right: 10px !important;
    min-width: 50px !important;
}

.btn {
	padding: 1px 12px 1px 12px;
/*	background-color: #f5f5f5;	*/
	border: 1px solid #bbbbbb;
	height: 30px;
}

#dataModeSelector {
	float: left;
}

select.name {
	direction: rtl;
}

input.name {
	text-align: right;
}

select option:first-child{
  color: gray !important;
}

select option{
  color: black;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #AAAAAA;
}

select.name{
	font-weight: bold;
}

.new>select.name {
	font-weight: bold !important;
	color: #AAAAAA !important;
}

input.name {
	font-weight: bold;
}

input.name:focus,
input.value:focus {
    /*border-color: #999999 !important;*/
    outline: 0 !important;
    outline-width: 0 !important;
}
.input-long {
    border-radius: 0;
    min-height: 18px;
    width: 50% !important;
    padding: 5px;
    padding-left: 0px;

    color: #333333 !important;
    background-color: transparent;
    border: none !important;
    border-bottom: solid thin #cccccc;
    box-shadow: none !important;
    border-radius: 0 !important;
    outline: none !important;
}

#left-column #planName {
	height: 20px;
	width:  120px;
	margin-bottom: 5px;
	margin-right: 2px;
	background: transparent;
}

#left-column #createPlan {
	height: 20px;
}

.response-panel {
	border-top: 1px solid gray;
}

.edit-panel {
	position: relative;
	left: 0;
	right: 0;
	padding-bottom: 2px;
	margin-left: 13px;
}

.edit-panel #requestPath:empty {
	display:none;
}

.edit-panel #requestSection .btn {
	margin-left: 5px !important;
}

.edit-panel #requestSection .tip {
	display: none;
}

.edit-panel #requestSection:hover .tip {
	display: block;
}

.edit-panel #validatorSection {
	margin-top: 20px;
	border-top: 1px dashed gray;
	position: relative;
}

.edit-panel [name="validator-selector-panel"] {
	position: relative;
	margin-top: -10px;
	margin-bottom: 20px;
	padding-right: 10px;
	background-color: white;
	width: 110px;	
}

.edit-panel #responseValidatorPanel{
	width: 800px;	
}

.edit-panel #responseValidatorPanel .panel {
	border: 0px;
	margin-left: 100px;
}

.edit-panel #caseParameterSection {
	margin-left: 115px;
}

.edit-panel #responseValidatorPanel .panel>.panel-heading {
	border: 0px;
	background-color: transparent;
}

.edit-panel #responseValidatorPanel .panel>.panel-heading a {
	padding-left: 10px;
	display: none;
}

.edit-panel #responseValidatorPanel .panel:hover>.panel-heading a {
	float: right;
	padding-left: 10px;
	display: inline-block;
}

.edit-panel select {
	height: 30px;
	font-size: 13px;
	margin-bottom: 1px;
}

.edit-panel input {
	height: 30px;
}

.edit-panel #requestBody {
	width: 100%;
	height: 100px;
}

.edit-panel .nav-tabs {
	margin-bottom: 5px;
}

.input-long:focus {
    border-bottom-color: #999999 !important;
    outline: none !important;
    box-shadow: none !important;
}
.text {
	display: inline-block;
	font-size: 12px;
	max-width: 80%;
	min-width: 100px;
	white-space: pre-wrap;
}
.large-text {
	overflow-y: scroll;
	white-space: pre-wrap;
	max-height: 400px;
}

#caseReport ul {
	list-style:none;
}

.relative {
	position: relative;
}

#paramEditor input.name{
	width: 120px;
}

.action {
	cursor: pointer;
	min-width: 14px;
	display:inline-block;
}

.action:hover {
    border-radius: 1;
	border-top:1px solid #F0FFF0;
	border-left:1px solid #F0FFF0;
	border-right:1px solid #A9A9A9;
	border-bottom:1px solid #A9A9A9;
}
.action:active {
    border-radius: 1;
	border-top:1px solid #A9A9A9;
	border-left:1px solid #A9A9A9;
	border-right:1px solid #F0FFF0;
	border-bottom:1px solid #F0FFF0;
}

.param-group {
	border-bottom: 0px solid #A9A9A9;
	padding-top: 5px;
	padding-bottom: 5px;
	
	margin-bottom: 10px;	
}

.param-group .alert {
	display: none;
}
.param-group.error .alert {
	display: block !important;
}

.panel {
	margin-bottom: 5px;
}


.panel-body {
	background-color: transparent;
}

.breadcrumb {
	margin-bottom: 0px;
	margin-right: 0px;
	background-color: #BBD9EE;
	border-radius: 0;
}

section#requestSection {
	margin-right: 15px;
}

#content {
	position: static;
}