<!DOCTYPE html>
<html>
  <head>
    <script src="/libs/jquery/jquery-2.1.4.js"></script>
	<script src="/libs/underscore.js/underscore-1.8.3.js"></script>    
	<script src="/libs/backbone.js/backbone-1.2.3.js"></script>    
	<script src="/libs/dropzone/4.0.1/dropzone.js"></script>
	<script src="/libs/jquery-contextmenu/1.6.5/jquery.contextMenu.js"></script>
	<script src="/libs/purl/2.3.1/purl.min.js"></script>
	<script src="/libs/bootstrap/3.3.5/js/bootstrap.js"></script>
	<script src="/libs/codemirror/5.7.0/codemirror.js"></script>
	<script src="/libs/jquery.codemirror.js"></script>
	<script src="/libs/vkbeautify.js"></script>
	
	<script src="/script/models.js"></script>    
	<script src="/script/webapi.js"></script>    
	<script src="/script/options.js"></script>    
	<script src="/script/views.js"></script>    
	<script src="/script/case-editor.js"></script>    
	<script src="/script/restbot.js"></script>   
	<script src="/script/handlebars-v4.0.4.js"></script>   
	<script src="/chromeapp/test.js"></script>   
	 
	<link href="/libs/dropzone/4.0.1/basic.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/dropzone/4.0.1/dropzone.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/jquery-contextmenu/1.6.5/jquery.contextMenu.css" rel="stylesheet" type="text/css"/>
	<link href="/libs/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />	
	<link href="/libs/codemirror/5.7.0/codemirror.css"/>
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
  
  </head>
  <body>
    <div>Hello, world!</div>
    
    <div id="loobo">
    </div>
  </body>
  
  
  <script type="text/template" id="TEST">
<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">
    {{body}}
  </div>
</div>
  </script>
</html>